// Define variables for your color scheme

// Bootstrap
$bootstrap-red: #FD1015;
$bootstrap-blue: #0D6EFD;
$bootstrap-yellow: #FFC65A;
$bootstrap-orange: #E67E22;
$bootstrap-green: #1EDD88;
$bootstrap-gray: #0E0000;
$bootstrap-light-gray: #F4F4F4;


// Custom
$primary-violet: #6F14F5;
// $pastel-pink: #EF798A;
$pastel-pink: #e25540;
$secondary-blue: #628BF7;
$foamy: #ADFCDA;
$light-foamy: #D9FEDF;
$bg-gray: #D8D8D8;
$off-white: #FCFCFCFC;
