.my-banner-top-content{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 100vh;
  box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;

  .left-zone{
    height: 100%;
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  #profile-pic{
    width: 40%;
    z-index: -1;
  }

  .banner-links{
    position: absolute;
    bottom: 100px;
    width: 15vw ;
  }

  #banner-links-list{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: larger;
    padding: 1em 0 0 0;
    margin-right: 0;
    color: $primary-violet;
    margin: 0 0 0 auto
  }
}
