.my-banner-top-content{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 100vh;
  box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;

  .left-zone{
    height: 100%;
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  #profile-pic{
    width: 40%;
    z-index: -1;
  }

  .banner-links{
    position: absolute;
    bottom: 100px;
  }

  .banner-btns{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 1em;
    column-gap: 1em;
  }

  #banner-links-list{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: larger;
    padding: 1em 0 0 0;
    margin-right: 0;
    color: $primary-violet;
    margin: 0 0 0 auto
  }

  .typing-zone{
    font-family: 'M PLUS 1 Code', sans-serif;
    font-weight: 400;
    font-size: 2em;
    width: 60vw;
    text-align: end;

    .typed-cursor{
      height: 120%;
    }
  }

  #home-call-to-a{
    width: 15vw;
    aspect-ratio: 4/1;
    font-size: 1em;
  }
}


@media(max-width: 768px){
  .my-banner-top-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .left-zone{
      margin: 0 auto;
      justify-content: center;
      width: 90%;
    }

    #profile-pic{
      position: relative;
      bottom: 30vh;
    }

    .typing-zone{
      font-weight: 400;
      font-size: 24px;
      width: 80vw;
      text-align: start;
      position: relative;
      bottom: 15vh;
    }

    .banner-links{
      margin: 0 auto;
      bottom: 5vh;
    }

    #home-call-to-a{
      width: 35vw;
    }

    #banner-links-list{
      margin: 0 auto;
    }
  }
}
