.btn-primary{
  box-shadow: 5px 5px black;
  transition: all ease-out .15s;
  border-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-primary:hover{
  background-color: $foamy;
  color: $primary-violet;
  box-shadow: 10px 10px black;
  border-color: black;

  &::before{
    content: '< ';
  }

  &::after{
    content: ' >';
  }
}

#home-call-to-a{
  width: 15vw;
  aspect-ratio: 4/1;
  font-size: 2em;
}
