.btn{
  font-family: 'M PLUS 1 Code', sans-serif;
  box-shadow: 5px 5px black;
  transition: all ease-out .2s;
  border-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-success{
  color: white;
}

@media(min-width: 769){

  .btn-primary:hover{
    background-color: $foamy;
    color: $primary-violet;
    box-shadow: 10px 10px black;
    border-color: black;

    &::before{
      content: '< ';
    }

    &::after{
      content: ' >';
    }
  }

  .btn-success:hover{
    background-color: $foamy;
    color: $primary-violet;
    box-shadow: 10px 10px black;
    border-color: black;

    &::before{
      content: '< ';
    }

    &::after{
      content: ' >';
    }
  }
}
