.bg-gray{
  background-color: $bg-gray;
}

.bg-white{
  background-color: $off-white;
}

.color-foamy{
  color: $foamy;
}

.color-violet{
  color: $primary-violet;
}

.w-95{
  width: 95%;
  margin: 0 auto;
}
