.highlight-code{
  font-family: 'M PLUS 1 Code', sans-serif;
  display: inline-block;
  background-color: #D9FEDF;
  padding: 0px 1%;
  border-radius: 1%;
  color: #6F14F5;
}

.h2-break{
  margin: 1em auto 0 auto;
  padding-top: 2em;
  padding-bottom: 1em;
  width: 100%;
  border-top: 1px solid $primary-violet ;
  text-align: center;
  text-shadow: 8px 4px 5px #d9fedf;
}
