// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import 'aos/dist/aos.css';

// Your CSS partials
@import "components/index";
@import "pages/index";


body {
  background-color: #62717D;
  background-color: $off-white;
  color: black;
  overflow-x: hidden;
}

h2 {
  font-family: 'M PLUS 1 Code', sans-serif;
}

.link:hover{
  color: $foamy;
}
